
/* AMDB header */
.amdb-header {
  @apply flex items-center w-full h-10 bg-dark;
}

.amdb-logo {
  @apply flex items-center justify-center h-8 w-11 rounded bg-darkSlateBlue;
}

/* AMDB header navigation */
.amdb-navigation {
  @apply flex items-center justify-between gap-6;
}

.amdb-navigation-logo {
  flex: 1;
}

.amdb-navigation-search {
  flex: 2;
}

.amdb-navigation-items {
  flex: 2;
  @apply hidden items-center justify-end;
}

@media (min-width: 768px) {
  .amdb-navigation-items {
    @apply flex items-center justify-end;
  }  
}

.amdb-navigation-button {
  @apply flex items-center py-2 px-4 mx-2 font-regular text-medium font-heading text-darkSlateBlue100 whitespace-nowrap rounded;
}

.amdb-navigation-button:hover {
  @apply transition duration-300 ease-in-out bg-dark900;
}

.amdb-navigation-separator {
  @apply block w-hr h-full border border-solid border-dark600;
}
